# Ambiente
ENV=dev

# Servidor
PORT=3000
IP=localhost

# Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_NAME=vetcare_api
DB_USER=avaliacao_fullstack
DB_PASSWORD=SUA_SENHA_AQUI
DB_DIALECT=mysql

# JWT
JWT_SECRET=SUA_CHAVE_SECRETA_JWT

# Sessão/Cookies
SESSION_SECRET=SUA_CHAVE_SESSAO
COOKIE_SECURE=false
COOKIE_MAX_AGE=86400000
